# Task 3: Apply What You've Learned

In [2]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

# Load dataset
data = fetch_california_housing(as_frame=True)
df = data.frame

df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

### 1. Outlier Detection:
  - Detect outliers in the `MedInc` (Median Income) column using both `Z-score` and `IQR` methods.
  - Visualize the outliers with a scatter plot.

### 2. Handling Outliers:
  - After detecting the outliers, apply one of the following techniques: removal, transformation (log transformation), or capping.

### 3. Feature Engineering:
  - Apply Binning to the `MedInc` column to group it into categories (Low, Medium, High).

### 4. Transformation:
  - Apply Log Transformation to the `MedInc` column and check how it affects the distribution.
  - Use Min-Max Transformation on the `AveRooms` (Average Rooms) column to scale the data between 0 & 1.

### 5. Feature Scaling:
  - Standardize the `MedInc` and `HouseAge` columns using StandardScaler.